{
  "root": true,
  "env": {
    "node": true,
    "jasmine": true
  },
  "extends": [
    "brainhub"
  ],
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "rules": {
    "new-cap": ["error", { "capIsNewExceptions": ["Before", "Then", "Given", "When"] }],
    "no-invalid-this": ["warn"]
  }
}
