{
  "root": true,
  "env": {
    "node": true,
    "jasmine": true
  },
  "extends": [
    "brainhub"
  ],
  "plugins": [
    "cucumber"
  ],
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "rules": {
    "new-cap": ["error", { "capIsNewExceptions": ["Before", "Then", "Given", "When"] }],
    "babel/no-invalid-this": "off",
    "no-invalid-this": ["warn"],
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }]
  }
}
